{
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module",
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true
		}
	},
	"env": {
		"node": true
	},
	"rules": {
		"no-console": 1,
		"semi": [
			1,
			"never"
		],
		"no-unused-vars": 1,
		"no-multiple-empty-lines": [
			1,
			{
				"max": 1
			}
		]
	}
}